.card{
	position:absolute;
	background-color: #F0F0F0;
	background-image: url('../../assets/images/VB_Card_Background.jpeg');
	background-repeat: no-repeat;
	height: 105px;
 width: 75px;
 border-radius: 5px;
 border-style:solid;
 border-width:1px;
 overflow-x: hidden;
 overflow-y: hidden;
 font-family: 'Uncial Antiqua', cursive;
}

.cardImage{
	position:absolute;
	left:-42px;
	height:251px;
	width:162px;
	background-repeat:no-repeat;
}

.card:hover{
	width:225px;
	height:315px;
	z-index:10;
}

.card:hover .cardImage{
	left:32px;
	top:32px;
	right:32px;
}

.card:hover .cardTitle{
	top:5px;
	left:32px;
	right:32px;
}

.card:hover .augment{
	display:inline;
}

.card:hover .cardRule{
	display:inline;
}

.tapped{
	-webkit-transform-origin: 100% 50%;
	-webkit-transform: rotate(90deg) translate(50%, 50%);
	-moz-transform-origin: 100% 50%;
	-moz-transform: rotate(90deg) translate(50%, 50%);
	-ms-transform-origin: 100% 50%;
	-ms-transform: rotate(90deg) translate(50%, 50%);
	-o-transform-origin: 100% 50%;
	-o-transform: rotate(90deg) translate(50%, 50%);
	transform-origin: 100% 50%;
	transform: rotate(90deg) translate(50%, 50%);
}

.cardTitle{
	top:32px;
	position:absolute;
	font-weight:bold;
 text-align: center;
  text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
 z-index:3;
}

.cardRule{
	position:absolute;
	display:none;
	left:34px;
	top:150px;
	right:34px;
	bottom:34px;
}

.augment{
	position:absolute;
	display:none;
	line-height:0.9;
}

	.leftAug{
 color:#101BB3;
	width:251px;
	height:32px;
	-webkit-transform-origin: 0% 100%;
	-webkit-transform: rotate(90deg);
	-moz-transform-origin: 0% 100%;
	-moz-transform: rotate(90deg);
	-ms-transform-origin: 0% 100%;
	-ms-transform: rotate(90deg);
	-o-transform-origin: 0% 100%;
	-o-transform: rotate(90deg);
	transform-origin: 0% 100%;
	transform: rotate(90deg);
 
}

.rightAug{
	color:#D12600;
	width:251px;
	height:32px;
	-webkit-transform-origin: 0% 0%;
	-webkit-transform: rotate(90deg);
	-moz-transform-origin: 0% 0%;
	-moz-transform: rotate(90deg);
	-ms-transform-origin: 0% 0%;
	-ms-transform: rotate(90deg);
	-o-transform-origin: 0% 0%;
	-o-transform: rotate(90deg);
	transform-origin: 0% 0%;
	transform: rotate(90deg);
	left:223px;
	top:32px;
 
}
.bottAug{
	color:#444720;
 bottom:0px;
 left:32px;
 right:32px;
 text-align: center;
}

/*Type and element classes*/
.icon{
	background-image:url('../../assets/images/icons.png');
 width:32px;
 height:32px;
 position:absolute;
 opacity:0.7;
 z-index:3;
}
.type{
 top:0px;
 left:0px;
}
.type2{
 top:0px;
 right:0px;
}
.element{
 bottom:0px;
 left:0px;
}
.currency{
	bottom:0px;
	right:0px;
	background-position:-64px -64px;
	text-align:center;
	line-height: 200%;
}

/*Adventurer equipment slots*/
.head{
	background-position:0px -32px;
}
.hand{
	background-position:0px -64px;
}
.torso{
	background-position:0px 0px;
}

/*Dungeon subtypes*/
.barricade{
	background-position:-32px 0px;
}
.trap{
	background-position:-32px -32px;
}
.minion{
	background-position:-32px -64px;
}

/*elements*/
.dark{
 background-position:-96px 0px;
}
.divine{
 background-position:-64px 0px;
}
.nature{
	background-position:-64px -32px
}
.industrial{
	background-position:-96px -32px;
}
.none{
	background-position:-96px -64px;
}

/*combination elements, alphabetical in pairings*/
.darkIndustrial{
	background-position:-128px 0px;
}
.divineNature{
 background-position:-160px 0px;
}

.divineIndustrial{
	background-position:-96px -32px;
}
.industrialNature{
 background-position:-160px -32px;
}

.darkNature{
	background-position:-96px -64px;
}
.darkDivine{
 background-position:-160px -64px;
}